.App {
  text-align: center;
  background-image: url('./cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.App.warm {
  background-image: url('./warm-bg.jpg');
}

.search-box {
  width: 80%;
  margin: auto;
}

.search-box .search-bar {
  width: 100%;
  padding: 15px;
  border-radius: 0px 0px 16px 16px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  appearance: none;
  border: none;
  outline: none;
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box {
  border: 1px solid red;
  margin-top: 25px;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));;
}

@media only screen and (min-width: 600px) {
  .App {
    width: 40%;
    margin: auto;
  }
}



